<div id="leftsidebar" class="sidebar">
  <div class="sidebar-scroll">
    <nav id="leftsidebar-nav" class="sidebar-nav">
      <ul id="metis-menu">
        <ul class="metismenu" *ngFor="let menu of sidebarService.menu">
          <li class="heading">{{menu.titulo}}</li>
          <li routerLinkActive="active" *ngFor="let submenu of menu.submenu"><a [routerLink]="submenu.url"><i [class]="submenu.icono"></i><span>{{submenu.titulo}}</span></a></li>
        </ul>
      </ul>

    </nav>
  </div>
</div>
